
body{
	background-color: black;
}

.contentBox{
	width: 800px;
	height: 500px;
	border: 10px solid darkred;
	position: relative;
	overflow: hidden;
	margin-left: auto; 
	margin-right: auto;
	background-color: black;
	background-image: url("wood.jpg");
	background-image:cover
}
h1{
	font-family:"Euclid Fraktur", "Old English Text MT", fantasy, serif;
	text-align: center;
	color: darkred;
	padding-top: 25px;
	font-size: 48pt;
}

#red{
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 2%;
}

#arrow{
	position: absolute;
	right: 0;
	bottom: 0;
}

#red2{
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 2%;
	animation-name: walking;
	animation-duration: 10s;
	animation-delay: 10.1s;
}

.textBox{
	text-align: center;
	background-color: white;
	font-family: "Monaco";
	position: relative;
	width: 300px;
	height: 100px;
	margin: 0 auto;
	margin-top: 15%;
	vertical-align: middle;
	border-radius: 25px;
	border: 4px solid black;
}

.textBox p{
	animation-name: fadeInOut;
	animation-duration: 10s;
}

.choices span{
	opacity: 0%;
	animation-name: fadeInOut;
	animation-delay: 10.1s;
	animation-duration: 20s;
}

.choices a{
	text-decoration: none;
}

@keyframes walking{
  0%   {left:0px;}
  25%  {left:200px;}
  50%  {left:400px;}
  75%  {left:600px;}
  100% {left:800px;}
}

@keyframes fadeInOut {
  0% {opacity: 0;}
  45%{opacity: 1;}
  100% {opacity: 0%;}
}




